.app-search {
  position: absolute;
  display: flex;
  width: 760px;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  
  .search {
    display: inline-block;
    width: 48px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    text-align: center;
    background: rgba(255, 255, 255, .15);
  }
  
  input {
    width: 712px;
    height: 40px;
    padding: 0 16px;
    color: #FFF;
    line-height: 20px;
    font-weight: 200;
    letter-spacing: 1.05;
    background: rgba(255, 255, 255, .15);
    box-sizing: border-box;
    border: none;
    
    &::placeholder {
      color: #FFF;
      font-size: 16px;
    }
  }
}
