$cubic-bezier: cubic-bezier(.1,.68,.21,.89);

.app {
  height: 100vh;
  overflow: hidden;
  padding-top: 64px;

  &__appbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__body {
    display: flex;
  }

  &__content {
    flex: 1;
    height: 100%;
  }

  &__drawer {
    transition: flex 0.25s $cubic-bezier;
    height: 100%;

    .app-drawer__inner {
      transition: transform 0.25s $cubic-bezier;
    }

    &--open {
      @extend .app__drawer;
      flex: 0 0 320px;

      .app-drawer__inner {
        transform: translateX(0px);
      }
    }

    &--closed {
      @extend .app__drawer;
      flex: 0 0 0px;

      .app-drawer__inner {
        transform: translateX(-320px);
      }
    }
  }
}
