$green-500: #4CAF50;
$amber-500: #FFC107;
$red-500: #F44336;
$grey-500: #9E9E9E;

.documents-item {
  &__engagement {
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-top: -15px;

    &--Flat {
      @extend .documents-item__engagement;
      color: $grey-500;
    }
    &--Up {
      @extend .documents-item__engagement;
      color: $green-500;
    }

    &--Down {
      @extend .documents-item__engagement;
      color: $red-500;
    }
  }

  &__time {
    font-size: 12px;
    margin-left: 10px;

    &--grey {
      @extend .documents-item__time;
      color: $grey-500;
    }
    &--green {
      @extend .documents-item__time;
      color: $green-500;
    }

    &--yellow {
      @extend .documents-item__time;
      color: $amber-500;
    }

    &--red {
      @extend .documents-item__time;
      color: $red-500;
    }
  }
}
